PORT=3000
NODE_ENV=development
SERVER_URL=http://localhost:3000
CORS_ORIGIN=http://localhost:5173
MONGO_URI=*****************
BREVO_API_KEY=*************
BREVO_SENDER_EMAIL=codescribe.app@gmail.com
BREVO_SENDER_NAME=Codescribe
